<div class="content_editor">
  <label><%= render_content_name(content) %></label>
  <%= select_tag(
          content.form_field_name,
          options_from_collection_for_select(
              Alchemy::Tag.includes(:taggings).where(taggings: {taggable_type: 'Alchemy::Picture'}),
              :id,
              :name,
              content.essence.tag_id
          ),
          :class => ['alchemy_selectbox very_long', html_options[:class]].join(' '),
          :style => html_options[:style]
      ) %>
  <label><%= t('alchemy.essences.tag_gallery.width') %></label>
  <%= number_field_tag(
          content.form_field_name(:width),
          content.essence.width,
          class: ['thin_border', html_options[:class]].join(' '),
          style: html_options[:style],
          in: 1...1000
      ) %>
  <label><%= t('alchemy.essences.tag_gallery.height') %></label>
  <%= number_field_tag(
          content.form_field_name(:height),
          content.essence.height,
          class: ['thin_border', html_options[:class]].join(' '),
          style: html_options[:style],
          in: 1...1000
      ) %>
  <label><%= t('alchemy.essences.tag_gallery.pictures_in_row') %></label>
  <%= number_field_tag(
          content.form_field_name(:pictures_in_row),
          content.essence.pictures_in_row,
          class: ['thin_border', html_options[:class]].join(' '),
          style: html_options[:style],
          in: 1...1000
      ) %>
  <label><%= t('alchemy.essences.tag_gallery.title') %></label>
  <%= text_field_tag(
          content.form_field_name(:title),
          content.essence.title,
          class: ['thin_border', html_options[:class]].join(' '),
          style: html_options[:style]
      ) %>
  <label><%= t('alchemy.essences.tag_gallery.alt') %></label>
  <%= text_field_tag(
          content.form_field_name(:alt),
          content.essence.alt,
          class: ['thin_border', html_options[:class]].join(' '),
          style: html_options[:style]
      ) %>
  <br><%= t('alchemy.essences.tag_gallery.show_image_titles') %>
  <%= hidden_field_tag(content.form_field_name(:show_image_titles), 0) %>
  <%= check_box_tag(
          content.form_field_name(:show_image_titles),
          1,
          !content.essence.show_image_titles.nil? ? content.essence.show_image_titles : options[:default_value],
          :class => html_options[:class],
          :style => html_options[:style]
      ) %>

</div>